<div id="<%= dom_id recipe %>">
  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= recipe.image %>" height="100px" width="100px">
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= recipe.ratings %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

    <strong>Ingredients:</strong>
    <ul class="list-group">
      <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
</div>
