<div id="<%= dom_id recipe %>">
  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Cock time:</strong>
    <%= recipe.cock_time %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= recipe.integer %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= recipe.cuisine %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= recipe.image %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= recipe.ratings %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Ingredients[]:</strong>
    <%= recipe.ingredients[] %>
  </p>

</div>
